{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Order</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <hr>
    <div class="row mt-1">
        <div class="col-md-6 mt-1 mx-auto shadow p-3">
            <h3 class="text-center p-4"><strong> Are you Hungry ??? Book your Order</strong></h3>
            
            <form  method="POST" action="/bookorder">
                {% csrf_token %} 
                
                <tr>
                <label><em> Food Name : </em></label>
                <select class="form-select " aria-label="Default select example" name="fname">
                        <option selected></option>
                        <option value="1"> Punjabi Food </option>
                        <option value="2"> Maharashtrian Food </option>
                        <option value="3"> South Indian Food </option>
                        <option value="4"> Chinese Food </option>
                        <option value="5"> Biryani </option>
                </select>
                </tr>

                <tr>
                    <label for="Input1" class="form-label"><em>Qty :</em></label>
                    <input type="number" class="form-control" name="qty" id="Input1">
                </tr>

                <tr>
                    <label><em> Category : </em></label>
                    <select class="form-select " aria-label="Default select example" name="cat">
                            <option selected></option>
                            <option value="1"> VEG </option>
                            <option value="2"> NON-VEG </option>
                    </select>
                </tr>

                    <tr class="mb-3">
                        <label for="Input2" class="form-label"><em>Name :</em></label>
                        <input type="text" class="form-control"  name="n" id="Input2">
                    </tr> 
    
                      <tr class="mb-3">
                        <label for="Input3" class="form-label"> <em>Address : </em></label>
                        <input type="text" class="form-control" name="a" id="Input3">
                      </tr>

                      <tr class="mb-3">
                        <label for="Input4" class="form-label"><em>Contact : </em></label>
                        <input type="text" class="form-control" maxlength="10" name="c" id="Input4">
                      </tr>

                      <div class="d-grid gap-4 col-6 mx-auto mb-3">
                        <td><input type="submit" name="send" value="ORDER" style="color: crimson;background-color: lightcyan;"/></td>
                      </div>

            </form>
        </div>
    </div>

    <!-- <form method="POST" action="/bookorder">
    {% csrf_token %} 
        <table width="800" border="1" align="center">

            <tr>
               <th colspan="2" align="center"><b></b></th>
            </tr>
                            
            <tr>
                <th> Food Name:</th>
                <td>
                    <select name="fname">
                        <option ></option>
                        <option value="1"> Punjabi Food </option>
                        <option value="2"> Maharashtrian Food </option>
                        <option value="3"> South Indian Food </option>
                        <option value="4"> Chinese Food </option>
                        <option value="5"> Biryani </option>
                    </select>
                </td>
            </tr>

            <tr>
                <th> Qty: </th>
                <td><input type="number" name="qty"></td>
            </tr>
            
            <tr>
                <th> Category:</th>
                <td>
                    <select name="cat">
                        <option></option>
                        <option value="1"> Veg </option>
                        <option value="2"> Non-Veg </option>
                    </select>
                </td>
            </tr>
            
            <tr>
                <th> Name: </th>
                <td><input type="text" name="n"></td>
            </tr>

            <tr>
                <th> Address: </th>
                <td><input type="text" name="a"></td>
            </tr>

            <tr>
                <th> Contact: </th>
                <td><input type="text" maxlength="10" name="c"></td>
            </tr>
            

            <tr>
                <td><label for="seven"><b> </b></label></td>
                <td><input type="submit" name="send" value="ORDER"/></td>
             </tr>
  
            </table>

             
    </form>  -->
    <hr>    
{% include 'footer.html' %}
</body>
</html>
