{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
     <div class="container">
     <div class="row mt-1">
        <div class="col-md-12 pt-2" style="background-color: lightcyan;">
            <h1 class="text-center" style="color: crimson;"><strong><i> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk_AwLXvslayIa44fn8B6hwjtYVGkWb7Fh5g&usqp=CAU" alt="" width="6%" height="6%"> Hotel Management System </i><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRk_AwLXvslayIa44fn8B6hwjtYVGkWb7Fh5g&usqp=CAU" alt="" width="6%" height="6%"></strong></h1>
        </div>
     </div> 
      
     </div>
</body>
</html>